<!DOCTYPE html>
<html>
<head>
  <title>Harry Potter & The Houses</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/students'>Students</a></li>
    <li class="menu-item"><a href='/students/new'>Enrol Student</a></li>
  </nav>
  <h1 id="logo">Harry Potter & The Houses</h1>
  <%= yield %>

</body>
</html>