<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors!</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <%= yield %>

  <br>
  <img src="http://advisoranalyst.com/glablog/wp-content/uploads/2014/05/thumb_6917_rockpaperscissors.jpg">

</body>
</html>