
<h2>Welcome to Rock, Paper, Scissors!</h2>

<p> Play the game by entering the two hands played into the address bar. For example, if Player 1 plays Rock and Player 2 plays Scissors, enter 'localhost:4567/rock/scissors'. </p>

