<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/pizza-orders">All Orders</a>
    </li>
    <li>
      <a href="/pizza-orders/new">Create Order</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
