<form method="post" action="/pizza-orders">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  />

  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  />

  <label for="pizza-selection">Select a pizza:</label>
  <select name="topping" id="pizza-selection">
    <option value="Margherita">Margherita</option>
    <option value="Calzone">Calzone</option>
  </select>

  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  />

  <input type="submit" value="Order Pizza">
</form>
