form, div.response-display {
  display: flex;
  flex-flow: column wrap;
  max-width: fit-content;
  background-color: lightseagreen;
  border-radius: 0.5rem;
  margin: 0.5rem 0px;
}

.form-item, p.text {
  padding: 0.5rem;
}

p.text {
  margin: 0;
}

label::after {
  content: ":";
}
