body {
  font-family: 'Source Serif Pro', serif;
  background-color: #e2dee8;
  width: 80%;
  margin: 0 auto;
  font-color: #0E0B16;
}

h1, h2, h3 {
  colour: #A239CA;
  font-family: 'Skranji', cursive;
}

input {
  margin: 0.2em 1.5em 0.2em 0.4em;
}

input[type=number], input[type=text] {
  border-radius: 3px;
  padding: 5px;
  border-style: none;
}

input[type=number] {
  width: 40px;
}

input[type=submit] {
  display: block;
  border-radius: 5px;
  background-color: #9172ff;
  padding: 4px 10px 6px;
  margin: 1em 0;
}

#games {
  display: flex;
  flex-wrap: wrap;
}

#game {
  background-color: #9172ff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.delete-btn {
  width: 30px;
  height: 30px;
  background: url(../images/delete.png);
  background-size: 30px;
}

button.delete-btn {
    border: none;
    padding: 0;
    border-radius: 5px;
}
